<p>
  <label for="settings_statuses">Status IDs</label>
  <%= select_tag "settings[statuses]", options_for_select(IssueStatus.sorted.to_a, @settings['statuses']), {:multiple => true, :size => 8} %>
</p>
